.feedContainer {
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.title {
  text-align: center;
}

.message {
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .feedContainer {
    max-width: 50%;
  }
}
