.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  margin-top: 4rem;
  max-width: 90%;
}

.heading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2rem;
}

.button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 40% !important;
  }
}
